:root {
  --icon--primary: #3c3d42;
  --text-color: #232323;
  --text-color--placeholder: #8a888f;
  --success-color: #18d165;
  --negative-color: #e4311a;
}

* {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 18px;
  box-sizing: border-box;
}

p,
h2 {
  margin: 0;
}

html,
body {
  margin: 0;
}

#App {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.List__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
}

.IconButton {
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButton:hover {
  cursor: pointer;
}

.IconButton:disabled {
  opacity: 0.75;
  cursor: not-allowed !important;
}

.List__Complete {
  height: 0;
  opacity: 0;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-name: List__Complete__FadeIn;
}

@keyframes List__Complete__FadeIn {
  to {
    height: 24px;
    opacity: 1;
  }
}

.List__ItemWrapper {
  margin-top: 15px;
  display: flex;
  width: 100%;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.List__Item {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(32, 32, 32, 0.2);
  padding: 15px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-name: List__Item__FadeIn;
  transition: all 250ms;
}

@keyframes List__Item__FadeIn {
  to {
    height: 60px;
    opacity: 1;
  }
}

.List__Item.List__Item--deleted {
  animation-name: List__Item__FadeOut;
}

.List__ItemWrapper--deleted {
  animation-name: List__ItemWrapper__FadeOut;
}

@keyframes List__ItemWrapper__FadeOut {
  from {
    height: 60px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
    margin-top: 0;
  }
}

@keyframes List__Item__FadeOut {
  from {
    height: 60px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}

.List__Item__Emoji {
  margin-right: 15px;
  line-height: 27px;
  font-size: 22px;
  margin-top: 2px;
}

.List__Item__Text {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.List__Item__Input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: none;
  outline: none;
  text-align: right;
  width: 50px;
}

.List__Item__Input::-webkit-outer-spin-button,
.List__Item__Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.List__Item__Input::placeholder {
  color: var(--text-color--placeholder);
  opacity: 1;
}

.List__Item__InputPostfix::before {
  content: "\00a0";
}

.List__Item__Action--delete {
  background-color: var(--negative-color);
}

.List__Item__Action--submit {
  background-color: var(--success-color);
}

.List__Item__Action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 8px;
  border: 0;
  padding: 0;
  width: 0;
  transition: width 250ms, margin-left 500ms, margin-right 500ms;
}

.List__Item__Action:hover {
  cursor: pointer;
}

.List__Item__Action.List__Item__Action--show {
  width: 60px;
}

.List__Item__Action.List__Item__Action--submit.List__Item__Action--show {
  margin-left: 15px;
}

.List__Item__Action.List__Item__Action--delete.List__Item__Action--show {
  margin-right: 15px;
}

.List__Item__Action.List__Item__Action--hide {
  width: 0;
}

.List__Item__Action.List__Item__Action--submit.List__Item__Action--hide {
  margin-left: 0;
}

.List__Item__Action.List__Item__Action--delete.List__Item__Action--hide {
  margin-right: 0;
}

.List__Item__CompletedBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  padding: 15px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 100%;
  background-color: var(--success-color);
  animation-duration: 750ms;
  animation-fill-mode: forwards;
  animation-name: List__Item__CompletedBanner--show;
}

@keyframes List__Item__CompletedBanner--show {
  to {
    right: 0;
  }
}

.List__Item__CompletedBanner * {
  color: white;
}

.List__Item__CompletedBanner__Text {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0;
  animation-delay: 750ms;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-name: List__Item__CompletedBanner--fade-in;
}

.List__Item__CompletedBanner__Time {
  white-space: nowrap;
  opacity: 0;
  animation-delay: 1050ms;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-name: List__Item__CompletedBanner--fade-in;
}

@keyframes List__Item__CompletedBanner--fade-in {
  to {
    opacity: 1;
  }
}

.List__Item__Border {
  height: 60px;
  width: 10px;
  margin-left: -15px;
  margin-right: 15px;
}

.List__Create {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
}

.List__Create__InputLabel {
  white-space: nowrap;
}

.List__Create__Form {
  flex: 1;
}

.List__Create__Input {
  margin: 0;
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  text-align: right;
}

.MenuWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  animation-duration: 300ms;
  animation-name: Menu--fade-in;
  animation-fill-mode: forwards;
}

.MenuWrapper.MenuWrapper__FadeOut {
  animation-name: Menu--fade-out;
}

.Menu {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.Menu__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes Menu--fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes Menu--fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.List__Actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.List__DeleteAction {
  background-color: rgba(0, 0, 0, 0);
  transition: all 250ms;
  border-radius: 4px;
}

.List__DeleteAction.List__DeleteAction--active svg {
  stroke: white;
}

.List__DeleteAction--active {
  background-color: var(--icon--primary);
}

.List__DeleteAction__Text {
  color: white;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 250ms;
}

.List__DeleteAction__Text--active {
  width: 50px;
  opacity: 1;
}

.Menu__Content {
  margin-bottom: 7px;
}

.Button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.Button:hover {
  cursor: pointer;
}

.Button__Icon {
  margin-right: 8px;
  margin-top: -2px;
}

.Button .Button__Text {
  color: var(--icon--primary);
}

.Button.Button--negative .Button__Text {
  color: var(--negative-color);
}
